@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height-desktop: 62px;
  --header-height-tablet: 78px;
}
* {
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
}
header {
  display: flex;
  place-items: center;
  padding-right: calc(var(--section-gap) / 2);
}
body {
  background-color: #f1f1f2;
  overflow-x: hidden;
}
